<!DOCTYPE HTML>
<html lang="en">
<head>
    <title th:text="${'TirNaNog - ' + moduleName}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script th:src="@{jquery-3.3.1.min.js}"/>
    <script th:src="@{chart.min.js}"/>
    <script th:src="@{TirNaNog.js}"/>
</head>
<body>
    <div id="header">
        <h1 th:text="${'TirNaNog - ' + moduleName}"/>
    </div>
    <div id="navigation">
        <ul>
            <li><a href="/admin">Admin</a></li>
        </ul>
    </div>
    <div id="content">
        Loading...
    </div>
</body>
</html>