<!DOCTYPE HTML>
<html>
<head>
    <title th:text="TirNaNog - ${moduleName}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script src="includes/jquery-3.3.1.min.js"/>
    <script src="includes/chart.min.js"/>
    <script src="includes/tirnanog.js"/>
</head>
<body>
    <div id="header">
        <h1 th:text="TirNaNog - ${moduleName}"/>
    </div>
    <div id="navigation">
        <ul class="navigation-list">
            <li>Button 1</li>
            <li>Button 2</li>
            <li>Button 3</li>
            <li>Button 4</li>
        </ul>
    </div>
    <div id="content">
    </div>
</body>
</html>