<!DOCTYPE HTML>
<html lang="en">
<head>
    <title th:text="${'TirNaNog - ' + moduleName}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <script th:src="@{jquery-3.3.1.min.js}"/>
    <script th:src="@{jquery-ui.min.js}"/>
    <script th:src="@{chart.min.js}"/>
    <script th:src="@{/admin/TirNaNog-Admin.js}"/>
    <link rel="stylesheet" th:href="@{jquery-ui.min.css}"/>
    <link rel="stylesheet" th:href="@{TirNaNog.css}"/>
    <link rel="stylesheet" th:href="@{TirNaNog.css}"/>
    <link rel="stylesheet" th:href="@{/admin/TirNaNog-Admin.css}"/>
</head>
<body>
    <div id="header">
        <h1 th:text="${'TirNaNog - ' + moduleName}"/>
    </div>
    <div id="navigation">
        <ul>
            <li><a href="/">Back</a></li>
            <li><a href="/admin/pages/page/views">Views</a></li>
            <li><a href="/admin/pages/page/functions">Automation</a></li>
            <li><a href="/admin/pages/page/modules">Other Modules</a></li>
        </ul>
    </div>
    <div id="content">
        <div id="rename-view-dialog">
            <div id="rename-view-dialog-error" class="error"></div>
            <div class="dialog-content">
                <p>Please enter a new name:</p>
                <input id="new-name-input" type="text" th:value="${view.name}"/>
            </div>
        </div>

        <div id="view-name"><p th:text="${view.name}"/><a id="rename-view">Rename</a></div>
        <div id="view-toolbox">
            <ul>
                <li><a id="view-add-row" onclick="addViewRow()">Add Row</a></li>
                <li>
                    <select id="add-view-item" onchange="if(this.selectedIndex) addViewItem();">
                        <option value="">Add Item to selected row</option>
                        <option value="GraphPageItem" title="Displays a graph based on record values.">Graph</option>
                        <option value="ParameterPageItem" title="A control for setting a parameter on the system.">Control</option>
                        <option value="SingleRecordPageItem" title="Displays the current value of a record.">Record Monitor</option>
                    </select>
                </li>
            </ul>
        </div>

        <div id="view-rows">
        </div>

    </div>
</body>
</html>